// colors
$main-color: #027abb;
$main-accent: #03a9f4;
$secondary-accent: #607d8b;
$blue-grey: #03a9f4;
$nav-border: #eee;
$body-color: #f4f5fa;
$bg-color-card: #fff;
$input-border-color: #d9d9d9;

//geneal
$main-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$card-box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
$banner-padding: 6em;
$card-border-radius: 3px;
