/* ------------------------------------------------*/
/* --------------->>> DISCLAIMER <<<---------------*/
/* ------------------------------------------------*/

.disclaimer {
	@include background-font-color($secondary-accent, #fff,);
	box-shadow: $main-box-shadow;
	padding: 1em 0;

	a {
		color: #fff;
		font-weight: bold;
	}

	p:last-of-type {
		margin: 0;
	}
}

/* ------------------------------------------------*/
/* ----------------->>> BANNER <<<-----------------*/
/* ------------------------------------------------*/

.site-banner {
	@include banner('../img/main-banner.jpg', $banner-padding, #fff);

	h1 {
		text-transform: uppercase;
		margin-bottom: 0;
	}

	span {
		font-size: 1.5em;
	}
}